* {
	font-family: "Courgette", cursive;
}
body {
	background: black;
	margin: 0;
}
.postcard {
	background: white;
	margin: auto;
	margin-top: 30px !important;
    padding: 30px 30px 10px 30px;
	width:500px;
	height:300px;
}
.postcard-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.postcard-body {
	display: flex;
	flex-direction: row;
	column-gap: 25px;
}
div.body-right {
	margin-left: 35px;
}
.postcard-footer {
	text-align: center;
}
h1 {
	width: 330px;
	margin: 0;
}
img {
	width: 50px;
	height: 50px;
}
div > p {
	margin-top: 0;
}
p {
	text-align: justify;
}
input {
	border: 0;
	border-bottom: 1px solid rgb(177, 172, 172);
	margin-bottom: 10px;
}
button {
	padding: 5px;
	margin-top: 20px;
}
